body{
    background-color: #095d5d;
    padding: 70px 0px;
    font-family: "Nunito", "Zen Kaku Gothic New", sans-serif;
}

.todo_item{
    opacity: 0.6;
    background-color: #043434;
    color: aliceblue;
    margin-bottom: 20px;
}

.todo_col{
    margin: 10px 0px;
}

select#sort_which{
    background-color: #095d5d;
    color: aliceblue;
    border: 0px;
}