#list {
    display: flex;
    flex-direction: column;
}
.list_item {
    background: #00bbdd36;
    color: #fff;
    border: #000;
    padding: 10px;
    margin: 10px;
}

#paging {
    display: flex;
}
.paging_item_now {
    background: rgb(128, 128, 216);
    color: #000;
    border: #000;
    padding: 10px;
    margin: 10px;
}
.paging_item {
    background: #00bbdd36;
    color: #000;
    border: #000;
    padding: 10px;
    margin: 10px;
}